.hackertyper ::-webkit-scrollbar {
  width: 0;
}

.hackertyper#container {
  background-color: var(--ht_bkg);
  color: var(--ht_primary);
  font-family: var(--ht_font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hackertyper #welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.hackertyper #welcome-container > h1 {
  width: 100%;
}

.hackertyper #welcome-container > p {
  width: 100%;
}

.hackertyper div {
  white-space: pre;
  line-height: 2rem;
  /* overflow: scroll;   */
}

.hackertyper button {
  margin-top: 5rem;
  height: 4em;
  width: 14em;
  font-size: large;
  background-color: var(--ht_bkg);
  color: var(--ht_primary);
  border: 1px solid var(--ht_hover);
}

.hackertyper button:hover {
  background-color: var(--ht_hover);
  cursor: pointer;
}

.hackertyper #terminal {
  width: 100%;
}

.hackertyper #access-denied {
  border: 0.5vh solid var(--ht_denied);
  background-color: var(--ht_bkg_denied);
  color: var(--ht_denied);
}

.hackertyper #access-granted {
  border: 0.5vh solid var(--ht_primary);
  background-color: var(--ht_bkg_granted);
  color: var(--ht_primary);
}

.hackertyper .popup {
  display: flex;
  position: fixed;
  height: 15vh;
  width: 30vw;
  top: 40%;
  left: 35%;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  font-weight: bolder;
}
